#page_header{
	text-align: center;
	font-size: 30px;
}

body{
	border:4px solid #B41717;
	border-radius: 1em;
	width:80%;
	margin:15px auto;
	font-family: Arial,sans-serif;
	padding:1em;

}

.topnav {
  border: 1px dotted grey;
  background-color: white;
  text-align: center;
  box-sizing: border-box;  
  width: 65%;

  margin:auto;
  height: 50px;
  padding: 10px;
}

.topnav a {
  padding: 14px 16px;
  color: #B41717;
  text-align: center;
  font-size: 25px;
}




.img2 {
  float: left;


}


.row {
  display: flex;
  overflow: auto;
  margin: auto;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 20px;
  overflow: auto;
  margin: auto;
  border-left-style: ridge;
}

section#post{
	float:center;
	font-size: 12px;
	border-bottom-style: ridge;
	border-top-style: ridge;
  padding: 20px;
}

#headr{

            text-align:center;
             font-size:30px;
             color:#B41717;
            
        
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 8%;
   padding: 1px;
   background-color: #B41717;
   color: white;
   text-align: center;
}

.lin{
	font-size:15px; 
	overflow:auto; 
	font-weight:normal;
}

aside{
	border: 2px solid blue;
	border-radius: 0.4em;
	padding: 0.4em;
}

section#posts aside{
	float: right;
	width: 35%;
	margin-left: 5%;
	font-size: 20px;
	line-height: 40px;

}

section#sidebar{
	float: left;
	width: 25%;
	}
section#posts{
	float: left;
	width: 67%;
	border-radius: 1em;
	border: 1px solid grey;
	margin: 0.9em;
	padding: 0.7em;
}

.frm{
	text-align:center; margin:auto; padding:30px;
	width:50%;
	
}