/* slects all the elements */
*{
	font-color: blue;
}

/* select all the elemets with class div1 */
.div1{
	border: 8px double black;
	width:20px;
}

#page_header{
	color: red;
}
/*select all the p elemet */
p {
	font-color: red;
	font-size: 20px;
}

/*class with div2 */
.div2{
	border: 2px solid red;
}

/* selects all h1 h2 h3 elemts*/
h1, h2, h3 {
	text-decoration: underline;
}

/*selects every class that ends with 'ed' */
[class$="ed"]{
	color: maroon;
}

/*select the element when the mouse over it*/
a:hover{
	background-color: red;
}

/*focus the input*/
input:focus{
	background-color: pink;
}

/* select unvisited links */
a:link{
	background-color: white;
}


.topnav {
  	border: 1px dotted grey;
  	background-color: white;
  	text-align: center;
  	box-sizing: border-box;  
  	width: 65%;
  	margin:auto;
  	height: 50px;
  	padding: 10px;
}

body{
	border:4px solid #B41717;
	border-radius: 1em;
	width:80%;
	margin:15px auto;
	font-family: Arial,sans-serif;
	padding:1em;
}

/*Change the color of the placeholder text of an input field:*/
::placeholder {
  color: red;
}

/* when the input is checked */
input:checked{
	font-size: 23px;
	background-color: red;
	height: 20px;
	color: red;
}

/* when the input typed is valid */
input:valid{
	background-color: green;
}

#bot{
	border-bottom: ridge;
}

#space{
	padding: 50px;
}

#log{
	height: 48px;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
	background-color:#EC5252;
	border: 1px solid transparent;
}

#align{
	float:left;
	margin: left;
}
